<!DOCTYPE html>
<html>
<head>
    <!-- <link rel = "preconnect" href = "https://fonts.googleapis.com"> -->
    <!-- <link rel = "preconnect" href = "https://fonts.gstatic.com" crossorigin> -->
    <link href = "https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>
    <section class = "about">
        <div class = "main">
            <img>
            <div class = "about-text">
                <h1>Unicron Speciality Clinic</h1>
                    <p>Unicron Speciality Clinic is a multi-speciality medical centre which continues to strengthen the rapidly growing healthcare infrastructure of Mumbai. Uniquely positioned in the heart of  Mumbai & Operational since 2015.
                    <p>From newborns to senior citizens, the multi-specialty clinic provides high-quality, patient-centered treatment that is both affordable and compliant with international standards. To provide patients with sensitive loving care in a calm environment, the team of healthcare experts at Primacare heavily depends on innovation, reflection, and progress.</p>
                    <p>At Primacare, healthcare services involve prevention, treatment, rehabilitation, and health education for patients, their families, and corporates. A proper staff-patient ratio is always maintained in the clinic to ensure each patient is handled with the utmost care and attention.Assuring that smooth and efficient services will be provided all customers.</p>
        </div>
        </div>


        <div class = "nav">
            <h2>For More Information Contact Below Details</h2>
            <br>
            <h2>
            <p>Phone Number : +91 6489483493</p>
            <br>
            <p>Telephone Number : 0836 3290932</p>
            <br>
            <p>Location : Mumbai</p>
            </h2>
        </div>
    </section>
</body>
</html>
