<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="doctor.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-0">
                <div class="about_img">
                    <img class="img-fluid w-100" src="assets\images\about-me.jpg.webp" alt="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 pl-0">
            <div class="about_box">
                <div class="section-title-wrap text-left">
                    <!-- <h1>About Myself</h1> -->
                    <p>
                        Hello. My name is Dr. Rajnandini.
                        I have been engaged in all kinds of medicine and Epidemic Diseases, Pediatrics, Panchakarma, ENT specialist over my 10 years of the experience.
                        My specialty is General Physician, Panchakarma but people could call me a "medical generalist".
                        Therefore, I am confident in skills to address all kinds of diseases.
                        The reason why I have worked to date as a doctor is that patients became healthy physically and mentally, and shared that joy with me. That is my greatest pleasure.
                        I am happy to help you with full force so that all of you can send a prosperous life.
                        Please feel free to consult us anything!
                    </p>
                </div>
                <div class="activity">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="activity_box">
                                <div>
                                    <i class="fa-duotone fa-database">
                                        Experience
                                    </i>
                                </div>
                                <h3>
                                    10 Years
                            
                                </h3>
                                <!-- <p>Total Donation</p> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="activity_box">
                                <div>
                                    <i class="lnr lnr-book">
                                        Speciality
                                    </i>
                                </div>
                                <!-- <h3 class="counter">Medicine</h3> -->
                                <h3 class="counter">Panchakarma</h3>
                                <!-- <p>Total project</p> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="activity_box">
                                <div>
                                    <i class="">
                                        Language
                                    </i>
                                </div>
                                <h3 class="counter">English</h3>
                                <!-- <p></p> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="activity_box">
                                <div>
                                    <i class="">
                                        Types of
                                    </i>
                                </div>
                                <h3 class="counter">Kayachikitsa</h3>
                                <!-- <p>Total Volunters</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>