<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="Home.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
</head>
<body>
    <section class="home">
        <h1 class="h-primary">Welcome to Unicron Speciality Clinic</h1>
        <p>The dream quickly took shape into its current magnificence, and before they realised it, they were on a design for its creation. Since then, they have been successfully distributing across all nodes of the medical community.</p>
        <p>The desire to stay visionary in leading the healthcare domain and dedicating the journey towards transforming the lives of people through excellent clinical quality.</p>
        <!-- <button class="btn" [routerLink]="['/Appointment']"
        routerLinkActive="active">Make An Appointment</button>
        <br>
        <button class="btn" [routerLink]="['/Video']"
        routerLinkActive="active">Video</button> -->
    </section>
<router-outlet></router-outlet>
</body>
</html>